#!/bin/rc

 . /etc/make.conf

################
# after chroot #
################
pkgcache=/usr/nullpkg/cache

cd $pkgcache
tar -xhf sources.tar.xz

# rebuild layers
layer02=(m4 autoconf automake texinfo bison bc cmake gettext help2man libtool)
aaa_lib=(acl alsa argon attr c-ares gdbm gmp gperf json libaio libcap libexpat libffi libjpeg-turbo libnsl libpng libpsl libsigsegv libtiff libtirpc libunwind ncurses pcre2 pcre pkg-config popt readline)
layer01=(binutils make bash coreutils grep ed sed vim libressl curl git rc zlib gzip tar xz flex gawk)
layer03=(which util-linux e2fsprogs sudo lvm openssh less time dbus)
libextra=(libeudev libfuse libusb glib libunistring)
connman=(libmnl libnftnl iptables nettle gnutls connman)

# for some reason only works when downloading?
nullpkg emerge diffutils findutils patch

# perl
cd $pkgcache/_perl
cp /usr/nullpkg/patches/perl* .
for(f in (perl*.patch))
    patch -p1 <$f
sh Configure -des \
    -Dprefix=/usr \
    -Dvendorprefix=/usr \
    -Dprivlib=/usr/lib64/perl5/5.34/core_perl \
    -Darchlib=/usr/lib64/perl5/5.34/core_perl \
    -Dsitelib=/usr/lib64/perl5/5.34/site_perl \
    -Dsitearch=/usr/lib64/perl5/5.34/site_perl \
    -Dvendorlib=/usr/lib64/perl5/5.34/vendor_perl \
    -Dvendorarch=/usr/lib64/perl5/5.34/vendor_perl \
    -Dman1dir=/usr/share/man/man1 \
    -Dman3dir=/usr/share/man/man3 \
    -Duseshrplib \
    -Dusethreads
nullpkg emerge perl

# layer02
nullpkg emerge $layer02

# python
cd $pkgcache/_python
cp /usr/nullpkg/patches/python* .
for(f in (python*.diff))
    patch -p1 <$f
nullpkg emerge python
nullpkg emerge python-setuptools python-pip ninja

python3 -m pip install meson


########
# libs #
########
cd $pkgcache/_glibc
mkdir -p build/root
cd build
sh ../configure \
    --prefix=/usr \
    --libdir=/usr/lib64 \
    --disable-werror                         \
    --enable-kernel=3.2                      \
    --enable-stack-protector=strong          \
    --with-headers=/usr/include              \
    libc_cv_slibdir=/usr/lib64
make -j5
make install DESTDIR=`{pwd}/root PREFIX=/usr
nullpkg makepkg root
mv root.tar.xz $pkgcache/glibc.tar.xz

nullpkg -i     glibc
nullpkg emerge $aaa_lib
nullpkg -i     $pkgcache/_libexpat/libexpat.tar.xz


###########
# layer01 #
###########
nullpkg emerge gcc


nullpkg emerge $layer01



###########
# layer03 #
###########
nullpkg emerge shadow
groupadd tty wheel
useradd -m -G wheel root
nullpkg emerge $libextra
nullpkg emerge $layer03
nullpkg emerge $connman
cd $pkgcache/_mandoc
sed -i configure -e 's|PREFIX="/usr/local"|PREFIX="/usr"|g'
sed -i configure -e 's|LIBDIR=|LIBDIR=/usr/lib64|g'
nullpkg emerge mandoc
nullpkg emerge efivar efibootmgr
