#!/bin/rc

. /usr/nullpkg/make.conf

# package groups
LIB=( \
    acl alsa-lib attr elfutils expat gdbm gmp gperf json-c libaio libcap \
    libeudev libffi libmnl libnftnl libpsl libressl lvm mpc mpfr ncurses \
    pcre2 pcre pkg-config popt readline zlib \
)

BASE=( \
    autoconf automake bash bc binutils bison cmake coreutils curl \
    diffutils ed file findutils flex gawk gcc gettext git grep \
    help2man less libtool m4 make ninja patch rc sed texinfo \
    vim which \
    bzip2 gzip lzo tar unzip xz zstd \
)

SYS=( \
    e2fsprogs iproute2 iputils kmod procps-ng psmisc shadow sysvinit util-linux \
    acpid btrfs-progs cryptsetup dbus dosfstools lm-sensors lua mandoc \
    nano openssh parted pciutils rsync sqlite sudo tcsh time \
    wget xorriso \
    libestr libfastjson rsyslog \
    libevent tmux \
    inih userspace-rcu xfsprogs \
    glib iptables connman \
    efivar efibootmgr \
    libgpg-error libgcrypt libksba libassuan ntbtls npth pinentry gnupg \
)


fn __emerge {
    for(i in $*) {
        nullpkg emerge $i
        if(test -f /usr/nullpkg/cache/$i.tar.xz)
            nullpkg -i /usr/nullpkg/cache/$i.tar.xz
        if not
            exit
    }
}


fn snarf {
    cd /usr/nullpkg/cache

    nullpkg snarf $LIB
    nullpkg snarf $BASE
    nullpkg snarf $SYS
    nullpkg snarf python python-setuptools python-pip
    /usr/nullpkg/misc/glibc.rc snarf
    /usr/nullpkg/misc/perl.rc snarf

    # make missing directory for python-setuptools
    cd __python-setuptools
    mkdir -p build/scripts-3.9
    mkdir -p build/scripts-3.10
    cd ..

    # manually edit configure for mandoc
    cd __mandoc
    sed -i configure -e 's|PREFIX="/usr/local"|PREFIX="/usr"|g'
    sed -i configure -e 's|LIBDIR=|LIBDIR=/usr/lib64|g'
    cd ..

    mkdir sources
    mv __* sources
    tar -cf sources.tar sources
    xz -T0 sources.tar
    rm -rf sources/
}

fn bootstrap {
    cd /usr/nullpkg/cache/pass1

    # create base system
    tar -C $1 -xhf static/etc.tar.xz
    tar -C $1 -xhf static/headers.tar.xz

    # copy nullpkg
    cp -r /usr/nullpkg $1/usr/nullpkg

    # prepare cache
    rm $1/usr/nullpkg/cache
    mkdir $1/usr/nullpkg/cache
    cp static/sources.tar.xz $1/usr/nullpkg/cache/

    # libs
    for(f in (lib/*.tar.xz))
        tar -C $1 -xhf $f

    # base
    for(f in (base/*.tar.xz))
        tar -C $1 -xhf $f
}


fn emerge {
    cd /usr/nullpkg/cache

    make -C /usr/nullpkg

    ldconfig && /usr/nullpkg/misc/locale.rc

    tar -xhf sources.tar.xz
    mv sources/* .

    # tag build start time
    touch /usr/nullpkg/cache/start.tar.xz

    # custom buildscripts
    /usr/nullpkg/misc/glibc.rc emerge
    /usr/nullpkg/misc/perl.rc emerge

    __emerge python python-setuptools python-pip
    sleep 3 &&
    python3 -m pip install meson &&
    python3 -m pip install docutils


    __emerge $LIB
    __emerge $BASE
    __emerge $SYS
}

fn yank {
    cd /mnt/target/usr/nullpkg/cache

    mkdir -p /usr/nullpkg/cache/new/^(lib base sys)

    # copy groups
    mv $LIB^.tar.xz /usr/nullpkg/cache/new/lib
    mv $BASE^.tar.xz /usr/nullpkg/cache/new/base
    mv $SYS^.tar.xz /usr/nullpkg/cache/new/sys

    # not in groups
    mv glibc.tar.xz /usr/nullpkg/cache/new/lib
    mv perl.tar.xz /usr/nullpkg/cache/new/base
    mv python*.tar.xz /usr/nullpkg/cache/new/base
}

switch($1) {
    case snarf
        snarf
    case emerge
        emerge
    case yank
        yank
    case *
        bootstrap /mnt/target
}
