#!/bin/rc

 . /etc/make.conf

fn emerge++ {
    for(i in $*) {
        nullpkg emerge $i
        if(test -f /usr/nullpkg/cache/$i.tar.xz)
            nullpkg -i $i
        if not
            exit
    }
}
################
# after chroot #
################
pkgcache=/usr/nullpkg/cache

cd $pkgcache
tar -xhf sources.tar.xz
mv sources/* .

# rebuild layers
layer02=(m4 autoconf automake texinfo bison bc cmake gettext help2man libtool python python-setuptools python-pip ninja)
aaa_lib=(acl alsa argon attr c-ares gdbm gmp gperf json libaio libcap libexpat libffi libjpeg-turbo libnsl libpng libpsl libsigsegv libtiff libtirpc libunwind ncurses pcre2 pcre pkg-config popt readline)
layer01=(gcc binutils make bash coreutils grep ed sed vim libressl curl git rc zlib gzip tar xz zstd flex gawk)
layer03=(which util-linux e2fsprogs sudo lvm openssh less time dbus sysvinit)
libextra=(libeudev libfuse libusb glib libunistring)
connman=(libmnl libnftnl iptables nettle gnutls connman)

emerge++ diffutils findutils patch

# perl
cd $pkgcache/_perl
sh Configure -des \
    -Dprefix=/usr \
    -Dvendorprefix=/usr \
    -Dprivlib=/usr/lib64/perl5/5.34/core_perl \
    -Darchlib=/usr/lib64/perl5/5.34/core_perl \
    -Dsitelib=/usr/lib64/perl5/5.34/site_perl \
    -Dsitearch=/usr/lib64/perl5/5.34/site_perl \
    -Dvendorlib=/usr/lib64/perl5/5.34/vendor_perl \
    -Dvendorarch=/usr/lib64/perl5/5.34/vendor_perl \
    -Dman1dir=/usr/share/man/man1 \
    -Dman3dir=/usr/share/man/man3 \
    -Duseshrplib \
    -Dusethreads
emerge++ perl

# layer02
emerge++ $layer02
sleep 6 && python3 -m pip install meson


########
# libs #
########
cd $pkgcache/_glibc
mkdir -p build/root
cd build
sh ../configure \
    --prefix=/usr \
    --libdir=/usr/lib64 \
    --disable-werror \
    --enable-kernel=3.2 \
    --enable-stack-protector=strong \
    --with-headers=/usr/include \
    libc_cv_slibdir=/usr/lib64
make -j5
make install DESTDIR=`{pwd}/root PREFIX=/usr
nullpkg makepkg root
mv root.tar.xz $pkgcache/glibc.tar.xz

nullpkg -i     glibc
emerge++ $aaa_lib


###########
# layer01 #
###########
# BUG: gcc needs /usr/lib to exist
mkdir /usr/lib
emerge++ $layer01



###########
# layer03 #
###########
emerge++ shadow
groupadd tty
groupadd wheel
useradd -m -G wheel root -u 0
emerge++ $libextra
emerge++ $layer03
emerge++ $connman
cd $pkgcache/_mandoc
sed -i configure -e 's|PREFIX="/usr/local"|PREFIX="/usr"|g'
sed -i configure -e 's|LIBDIR=|LIBDIR=/usr/lib64|g'
emerge++ mandoc
emerge++ efivar efibootmgr
