#!/bin/rc

. /usr/nullpkg/functions.rc

glibc=(){tag=2.35 src=gnu:%txz μ=custom}

# override query
fn _query {
    destdir=/usr/nullpkg/cache/$1
    dirflags=( \
        'localstatedir=/var' \
        'sysconfdir=/etc' \
        'libdir='$LIBDIR \
        'disable-static' \
    )
}

fn custom {
    mkdir build && cd build
    ../configure --prefix=/usr                        \
             --disable-werror                         \
             --enable-stack-protector=strong          \
             --with-headers=/usr/include              \
             --$dirflags                              \
             libc_cv_slibdir=/usr/lib64

    GMake
    cd ..
}

switch($1) {
    case snarf
        snarf glibc
    case emerge
        emerge glibc  &&
        nullpkg -i /usr/nullpkg/cache/glibc.tar.xz
}
