#!/bin/rc

. /etc/make.conf

cd /usr/src/linux

# for reproducible builds
make clean &&
make mrproper &&
cp config.orig .config

make -j5 bzImage modules
make modules_install

cp arch/x86/boot/bzImage /boot/vmlinuz
