#!/bin/rc

# base dir to make the iso
chroot=/mnt/chroot

# download a slackware iso
# mount it with `-o loop' to mirror dir
mirror=/mnt/mirror

#package cache
cache=/usr/nullpkg/archive/iso/noiconv

# finds packages
fn fp {
    *=`{du -a $mirror | grep $1 | grep -E 'txz$|tgz$'}
    if(! ~ $#* 2)
        echo 'ERROR #MATCHES NOT EQUAL TO ONE'
    if not
        echo $2
}

#slackware toolchain for gcc and glibc and base libs
# python and perl require patches for multilib
slackware=( \
        aaa_base aaa_terminfo aaa_libraries \
        glibc-2 gcc-11 gcc-g++ gcc-gfortran \
        kernel-headers
)

#precompiled tarball for toolchain
toolchain=( \
    binutils make tar xz gzip flex \
    readline bash ncurses \
    coreutils grep sed gawk \
    zlib openssl \
    curl git \
    e2fsprogs \
    rc \
)

buildtools=( \
    m4 autoconf automake \
    texinfo bison bc \
    cmake \
    findutils patch \
    gettext help2man autobuild libtool \
)

extras=( \
    vim less which time \
    python python-setuptools python-pip python-wheel python-certifi meson \
    ninja \
    shadow \
    firejail \
    pkg-config glib libexpat dbus \
    libmnl libnftnl iptables \
    readline connman \
    gperf diffutils libcap libudev elogind \
    efivar popt efibootmgr \
)


# more stuff to bootstrap later:
#elfutils                                           #for kernel?
#bcachefs lz4 zstd keyutils libaio                  #bcachfs

fn slackbase {
    rm -rf /tmp/slackbase
    mkdir -p /tmp/slackbase
    for(p in $slackware)
        installpkg --root /tmp/slackbase `{fp $p}
    tar -czvf /usr/nullpkg/archive/slackbase.tar.gz -C /tmp/slackbase .
}

fn make-tar {
    rm -rf $chroot
    mkdir -p $chroot/usr
    git clone \
        'http://github.com/pacordova/nullpkg' \
        '--depth=1' \
        $chroot/usr/nullpkg

    # copy the slackware package base
    tar -C $chroot -xvhf $cache/slackbase.tar.gz

    # bootstrap rest of toolchain
    # add vim and less for qol
    for(p in ($toolchain $extras))
        tar \
            -C $chroot \
            -xvhf $cache/$p^*.tar.gz

    install /usr/nullpkg/main.rc $chroot/usr/bin/nullpkg
    ln -sf ../usr/bin/bash $chroot/bin/sh
    ln -sf ../usr/bin/bash $chroot/bin/bash
    ln -sf vim $chroot/usr/bin/vi

    >[2=] tar -cvzf $chroot^.tar.gz -C $chroot .
}

fn bootstrap {
    ldconfig
    git config --global http.sslVerify false
    #curl -k https://curl.se/ca/cacert.pem -o /etc/ssl/certs/cacert.pem

    mkdir -p /usr/nullpkg/archive
    mkdir -p /usr/nullpkg/index

    plist=($buildtools $toolchain $extras)
    nullpkg snarf $plist
    nullpkg emerge $plist
}

switch($1) {
    case slackware
        slackbase
    case tar
        make-tar
    case bootstrap
        bootstrap
    case *
        echo 'USAGE: ./mkiso.rc slackware|tar|bootstrap'
        echo '- slackware: create tarball of slackware packages from mirror'
        echo '- tar: creates a minimal tarball image'
        echo '- bootstrap: emerges packages from within chroot'
}
