#!/bin/rc

# manual stuff:
#  * extract the kernel headers
#  * build glibc against the kernel headers
#  * extract kernel headers and glibc into chroot
#  * bootstrap gawk (from onetrueawk) if using a fresh glibc

target=/mnt

cd /usr/nullpkg/cache/pass1

#################
# before chroot #
#################
# prepare the target
mkdir -p $target

# copy the static packages
tar -C $target -xhf etc.tar.xz
tar -C $target -xhf kheaders.tar.xz

# libs
for(f in (layer00/*.tar.xz))
    tar -C $target -xhf $f

# layer01
for(f in (layer01/*.tar.xz))
    tar -C $target -xhf $f

# copy over current version of nullpkg
cp -r /usr/nullpkg $target/usr/nullpkg
cd $target/usr/nullpkg && rm cache && mkdir cache
cp -r sources.tar.xz $target/usr/nullpkg/cache/
