#!/bin/rc

# manual stuff:
#  * extract the kernel headers
#  * build glibc against the kernel headers
#  * extract kernel headers and glibc into chroot
#  * bootstrap gawk (from onetrueawk) if using a fresh glibc

target=/mnt
foundation=pass1
pkgcache=/usr/nullpkg/cache


#################
# before chroot #
#################
# prepare the target
mkdir -p $target

# copy the static packages
tar -C $target -xhf $pkgcache/$foundation/foundation.tar.xz
tar -C $target -xhf $pkgcache/$foundation/kheaders.tar.xz
tar -C $target -xhf $pkgcache/$foundation/bzip2.tar.xz

# libs
for(f in ($pkgcache/$foundation/layer00/*.tar.xz))
    tar -C $target -xhf $f

# layer01
for(f in ($pkgcache/$foundation/layer01/*.tar.xz))
    tar -C $target -xhf $f

# copy over current version of nullpkg
cp -r /usr/nullpkg $target/usr/nullpkg
cd $target/usr/nullpkg && rm cache && mkdir cache
cp -r $pkgcache/sources.tar.xz $target/$pkgcache
