#!/bin/rc

. /usr/nullpkg/functions.rc

*=(python)

source_root=/usr/nullpkg/cache/python

fn rm_tests {
    TestList=(\
        'test' \
        'ctypes/test' \
        'distutils/tests' \
        'idlelib/idle_test' \
        'lib2to3/tests' \
        'sqlite3/test' \
        'tkinter/test' \
        'unittest/test' \
    )
    for(Test in $TestList)
        rm -r _root/usr/lib64/python*/$Test
}

# redefine mpkg
fn _makepkg {
    # strip binaries
    strip -S $1/usr/lib*/*
    strip -s $1/usr/bin/* $1/bin/*

    # gzip manpages
    gzip -n $1/usr/man/man?/*.? $1/usr/share/man/man?/*.?

    # remove tests for python
    rm_tests

    tar -C $1 \
        --transform 's,^\./,/,' \
        --mtime '1970-01-01 00:00' \
        -cvzf /usr/nullpkg/cache/$1.tar.gz .

    rm -rf $1 || true
}

fn _patch {
    builtin cd /usr/nullkg/cache/python
    PatchPath='https://mirrors.slackware.com/slackware/slackware64-15.0/source/d/python3'
    PatchList=( \
       'python3.distutils.x86_64.diff.gz' \
       'python3.setup.py.x86_64.diff.gz' \
       'python.sysconfig.py.x86_64.diff.gz' \
    )

    for(Patch in $PatchList)
        curl -O $PatchPath/$Patch
    gunzip *.gz

    for(patchfile in *.diff)
        patch -p0 <$patchfile
}

snarf $1
_patch
emerge $1

mv /usr/nullpkg/cache/python.tar.gz /usr/nullpkg/cache/python-multilib.tar.gz
