#!/bin/rc

passdir=pass2
chrootdir=/mnt

layer00=( \
    acl alsa argon attr c-ares file \
    gdbm glibc gmp gperf json libaio \
    libcap libexpat libffi libjpeg-turbo libnsl \
    libpng libpsl libsigsegv libtiff libtirpc \
    libunwind ncurses pcre2 pcre pkg-config \
    popt readline \
)

layer01=( \
    gcc  binutils make bash coreutils \
    grep ed sed vim libressl \
    curl git rc zlib gzip \
    tar xz bzip2 zstd flex \
    gawk \
)

layer02=( \
    diffutils findutils patch perl python \
    m4 autoconf automake \
    python-setuptools python-pip ninja \
    texinfo bison bc cmake \
    gettext help2man libtool \
)

layer03=( \
    which less time shadow \
    libeudev libfuse libusb glib libunistring \
    util-linux e2fsprogs sudo lvm openssh \
    dbus libmnl libnftnl iptables nettle \
    gnutls connman mandoc efivar efibootmgr \
    sysvinit \
    kmod inetutils procps-ng \
    libestr libfastjson rsyslog \
)

mkdir -p /usr/nullpkg/cache/$passdir/^(layer00 layer01 layer02 layer03)

cd $chrootdir/usr/nullpkg/cache
mv $layer00^.tar.xz /usr/nullpkg/cache/$passdir/layer00
mv $layer01^.tar.xz /usr/nullpkg/cache/$passdir/layer01
mv $layer02^.tar.xz /usr/nullpkg/cache/$passdir/layer02
mv $layer03^.tar.xz /usr/nullpkg/cache/$passdir/layer03



