#!/bin/rc

cd /usr/nullpkg && make
. /etc/make.conf

fn __emerge {
    for(i in $*) {
        nullpkg emerge $i
        if(test -f /usr/nullpkg/cache/$i.tar.xz)
            nullpkg -i /usr/nullpkg/cache/$i.tar.xz
        if not
            exit
    }
}

LIB=( \
    acl alsa argon attr c-ares gdbm glib gmp gperf libaio libcap libestr \
    libevent libexpat libfastjson libffi libmnl libnftnl libnsl libpng \
    libpsl libsigsegv libtiff libtirpc libunwind ncurses pcre2 pcre \
    pkg-config popt readline \
)

BASE=( \
    autoconf automake bash bc binutils bison coreutils diffutils ed file \
    findutils flex gawk gcc gettext grep help2man less libtool m4 make patch \
    rc sed sharutils texinfo vim which \
    zlib bzip2 gzip tar unzip xz zstd \
    libressl curl git \
)

SYS=( \
    shadow libeudev libfuse libusb libunistring lvm \
    e2fsprogs inetutils kmod procps-ng sysvinit util-linux rsyslog \
    acpid cryptsetup dbus dosfstools lm-sensors lua mandoc nano openssh \
    parted pciutils rsync sudo sqlite tcsh time tmux xorriso \
    iptables nettle gnutls connman \
    efivar efibootmgr \
)


cd cache

ldconfig && /usr/nullpkg/misc/locale.rc

tar -xhf sources.tar.xz
mv sources/* .

__emerge python python-setuptools python-pip;
sleep 3 &&
python3 -m pip install meson &&
python3 -m pip install docutils

__emerge $LIB
__emerge $BASE
__emerge $SYS
