#!/bin/rc

cd /usr/nullpkg && make
. /etc/make.conf

fn __emerge {
    for(i in $*) {
        nullpkg emerge $i
        if(test -f /usr/nullpkg/cache/$i.tar.xz)
            nullpkg -i /usr/nullpkg/cache/$i.tar.xz
        if not
            exit
    }
}

LIB=( \
    acl alsa argon attr c-ares gdbm gmp gperf inih json-c libaio libcap \
    libestr libeudev libevent libexpat libfastjson libffi libfuse \
    libmnl libnftnl libnsl libpng libpsl libressl libsigsegv \
    libtiff libtirpc libunistring liburcu libusb libunwind \
    lvm ncurses pcre2 pcre pkg-config popt readline zlib \
)

BASE=( \
    autoconf automake bash bc binutils bison cmake coreutils curl \
    diffutils ed file findutils flex gawk gcc gettext git grep \
    help2man less libtool m4 make ninja patch rc sed \
    sharutils texinfo vim which \
    bzip2 gzip lzo tar unzip xz zstd \
)

SYS=( \
    btrfs-progs e2fsprogs inetutils jfsutils kmod procps-ng rsyslog shadow \
    sysvinit util-linux xfsprogs \
    acpid cryptsetup dbus dosfstools lm-sensors lua mandoc nano openssh \
    parted pciutils rsync sqlite sudo tcsh time tmux xorriso \
    glib iptables nettle gnutls connman \
    efivar efibootmgr \
)


cd cache

ldconfig && /usr/nullpkg/misc/locale.rc

tar -xhf sources.tar.xz
mv sources/* .

__emerge python python-setuptools python-pip;
sleep 3 &&
python3 -m pip install meson &&
python3 -m pip install docutils

__emerge $LIB
__emerge $BASE
__emerge $SYS
