#!/bin/rc

cd /usr/nullpkg && make
. /etc/make.conf

fn __emerge {
    for(i in $*) {
        nullpkg emerge $i
        if(test -f /usr/nullpkg/cache/$i.tar.xz)
            nullpkg -i /usr/nullpkg/cache/$i.tar.xz
        if not
            exit
    }
}

LIB=( \
    acl alsa argon attr c-ares \
    gdbm gmp gperf json libaio \
    libcap libexpat libffi libjpeg-turbo libnsl \
    libpng libpsl libsigsegv libtiff libtirpc \
    libunwind ncurses pcre2 pcre pkg-config \
    popt readline \
)

BASE=( \
    gcc \
    bash bc binutils bison coreutils\
    diffutils ed file findutils flex \
    gawk grep m4 make patch rc \
    sed vim \
    zlib bzip2 gzip tar unzip xz zstd \
    libressl curl git \
)

DEV=( \
    autoconf automake cmake gettext help2man \
    libtool ninja texinfo \
    python python-setuptools python-pip \
)

SYS=( \
    shadow \
    libeudev libfuse libusb glib libunistring \
    dbus e2fsprogs inetutils kmod less \
    lvm mandoc openssh procps-ng sudo \
    sysvinit util-linux which \
    libestr libfastjson rsyslog \
    libmnl libnftnl iptables nettle gnutls connman \
    efivar efibootmgr \
)

cd cache

ldconfig && /usr/nullpkg/misc/locale.rc

tar -xhf sources.tar.xz
mv sources/* .

__emerge $DEV

sleep 3 &&
python3 -m pip install meson &&
python3 -m pip install docutils

__emerge $LIB
__emerge $BASE
__emerge $SYS
