#!/bin/rc

chrootdir=/mnt

LIB=( \
    acl alsa argon attr c-ares gdbm gmp gperf libaio libcap libestr \
    libeudev libevent libexpat libfastjson libffi libfuse libmnl libnftnl \
    libnsl libpng libpsl libsigsegv libtiff libtirpc libunistring libusb \
    libunwind lvm ncurses pcre2 pcre pkg-config popt readline \
)

BASE=( \
    autoconf automake bash bc binutils bison coreutils diffutils ed file \
    findutils flex gawk gcc gettext grep help2man less libtool m4 make patch \
    rc sed sharutils texinfo vim which \
    zlib bzip2 gzip tar unzip xz zstd \
    libressl curl git \
)

SYS=( \
    e2fsprogs inetutils kmod procps-ng rsyslog shadow sysvinit util-linux \
    acpid cryptsetup dbus dosfstools lm-sensors lua mandoc nano openssh \
    parted pciutils rsync sudo sqlite tcsh time tmux xorriso \
    glib iptables nettle gnutls connman \
    efivar efibootmgr \
)

mkdir -p /usr/nullpkg/cache/new/^(lib base sys)

cd $chrootdir/usr/nullpkg/cache
mv $LIB^.tar.xz /usr/nullpkg/cache/new/lib
mv $BASE^.tar.xz /usr/nullpkg/cache/new/base
mv $SYS^.tar.xz /usr/nullpkg/cache/new/sys
mv py*.tar.xz /usr/nullpkg/cache/new/base
