#!/bin/rc

chrootdir=/mnt

LIB=( \
    acl alsa argon attr c-ares gdbm gmp gperf inih json-c libaio libcap \
    libestr libeudev libevent libexpat libfastjson libffi libfuse \
    libmnl libnftnl libnsl libpng libpsl libressl libsigsegv \
    libtiff libtirpc libunistring liburcu libusb libunwind \
    lvm ncurses pcre2 pcre pkg-config popt readline zlib \
)

BASE=( \
    autoconf automake bash bc binutils bison cmake coreutils curl \
    diffutils ed file findutils flex gawk gcc gettext git grep \
    help2man less libtool m4 make ninja patch rc sed \
    sharutils texinfo vim which \
    bzip2 gzip lzo tar unzip xz zstd \
)

SYS=( \
    btrfs-progs e2fsprogs inetutils jfsutils kmod procps-ng rsyslog shadow \
    sysvinit util-linux xfsprogs \
    acpid cryptsetup dbus dosfstools lm-sensors lua mandoc nano openssh \
    parted pciutils rsync sqlite sudo tcsh time tmux xorriso \
    glib iptables nettle gnutls connman \
    efivar efibootmgr \
)

mkdir -p /usr/nullpkg/cache/new/^(lib base sys)

cd $chrootdir/usr/nullpkg/cache
mv $LIB^.tar.xz /usr/nullpkg/cache/new/lib
mv $BASE^.tar.xz /usr/nullpkg/cache/new/base
mv $SYS^.tar.xz /usr/nullpkg/cache/new/sys
mv py*.tar.xz /usr/nullpkg/cache/new/base
