#!/bin/rc

LIB=( \
    acl alsa argon attr c-ares \
    gdbm gmp gperf libaio libcap \
    libevent libexpat libffi libnsl libpng \
    libpsl libsigsegv libtiff libtirpc libunwind \
    ncurses pcre2 pcre pkg-config popt \
    readline \
)

BASE=( \
    autoconf automake bash bc binutils \
    bison coreutils diffutils ed file \
    findutils flex gawk gcc gettext \
    grep help2man less libtool m4 \
    make patch rc sed sharutils \
    texinfo vim which \
    zlib bzip2 gzip tar unzip xz zstd \
    libressl curl git \
)

SYS=( \
    shadow \
    libeudev libfuse libusb glib libunistring libxml2 sqlite \
    e2fsprogs inetutils kmod procps-ng sysvinit \
    util-linux \
    libestr libfastjson rsyslog \
    acpid cryptsetup dbus dosfstools lm-sensors \
    lua lvm mandoc nano openssh \
    parted pciutils rsync sudo tcsh \
    time tmux xorriso \
    libmnl libnftnl iptables nettle gnutls connman \
    efivar efibootmgr \
)


nullpkg snarf $LIB
nullpkg snarf $BASE
nullpkg snarf $SYS
nullpkg snarf python python-setuptools python-pip


##############
# misc fixes #
##############
cd /usr/nullpkg/cache

# download gcc prereqs
cd __gcc
./contrib/download_prerequisites
cd ..

# make missing directory for python-setuptools
cd __python-setuptools
mkdir -p build/scripts-3.9
cd ..

# manually edit configure for mandoc
cd __mandoc
sed -i configure -e 's|PREFIX="/usr/local"|PREFIX="/usr"|g'
sed -i configure -e 's|LIBDIR=|LIBDIR=/usr/lib64|g'
cd ..

# sharutils
cd __sharutils
sed -i 's/BUFSIZ/rw_base_size/' src/unshar.c
sed -i '/program_name/s/^/extern /' src/*opts.h
sed -i 's/IO_ftrylockfile/IO_EOF_SEEN/' lib/*.c
echo "#define _IO_IN_BACKUP 0x100" >> lib/stdio-impl.h
cd ..

mkdir sources
mv __* sources
tar -cf sources.tar sources
xz -T0 sources.tar
rm -rf sources/
