#!/bin/rc

LIB=( \
    acl alsa argon attr c-ares gdbm gmp gperf inih json-c libaio libcap \
    libestr libeudev libevent libexpat libfastjson libffi libfuse \
    libmnl libnftnl libnsl libpng libpsl libressl libsigsegv \
    libtiff libtirpc libunistring liburcu libusb libunwind \
    lvm ncurses pcre2 pcre pkg-config popt readline zlib \
)

BASE=( \
    autoconf automake bash bc binutils bison cmake coreutils curl \
    diffutils ed file findutils flex gawk gcc gettext git grep \
    help2man less libtool m4 make ninja patch rc sed \
    sharutils texinfo vim which \
    bzip2 gzip lzo tar unzip xz zstd \
)

SYS=( \
    e2fsprogs inetutils kmod procps-ng rsyslog shadow sysvinit util-linux \
    acpid btrfs-progs cryptsetup dbus dosfstools jfsutils lm-sensors lua \
    mandoc nano openssh lm-sensors lua mandoc nano openssh parted \
    pciutils rsync sqlite sudo tcsh time tmux xfsprogs xorriso \
    glib iptables nettle gnutls connman \
    efivar efibootmgr \
)


nullpkg snarf $LIB
nullpkg snarf $BASE
nullpkg snarf $SYS
nullpkg snarf python python-setuptools python-pip


##############
# misc fixes #
##############
cd /usr/nullpkg/cache

# download gcc prereqs
cd __gcc
./contrib/download_prerequisites
cd ..

# make missing directory for python-setuptools
cd __python-setuptools
mkdir -p build/scripts-3.9
mkdir -p build/scripts-3.10
cd ..

# manually edit configure for mandoc
cd __mandoc
sed -i configure -e 's|PREFIX="/usr/local"|PREFIX="/usr"|g'
sed -i configure -e 's|LIBDIR=|LIBDIR=/usr/lib64|g'
cd ..

# sharutils
cd __sharutils
sed -i 's/BUFSIZ/rw_base_size/' src/unshar.c
sed -i '/program_name/s/^/extern /' src/*opts.h
sed -i 's/IO_ftrylockfile/IO_EOF_SEEN/' lib/*.c
echo '#define _IO_IN_BACKUP 0x100' >> lib/stdio-impl.h
cd ..

# jfsutils
cd __jfsutils
sed -i '/unistd.h/a#include <sys/types.h>' fscklog/extract.c
sed -i '/ioctl.h/a#include <sys/sysmacros.h>' libfs/devices.c
cd ..

mkdir sources
mv __* sources
tar -cf sources.tar sources
xz -T0 sources.tar
rm -rf sources/
