#!/bin/rc

. /etc/make.conf

fn GMake {
    *=($MAKEOPTS 'PREFIX='$PREFIX 'path=' $*)
    make $* &&
    make install $* 'DESTDIR='$destdir
}

fn Configure {
    *=('prefix='$PREFIX $dirflags $*)
    sh configure --$* &&
    GMake
}

fn Autotools {
    >[2=] {sh autogen.sh || autoreconf -fi} &&
    Configure $*
}

fn CMake {
    *=( \
        'CMAKE_INSTALL_PREFIX:PATH='$PREFIX \
        'CMAKE_BUILD_TYPE=Release' \
        'WITH_TESTS=OFF' \
        'BUILD_SHARED_LIBS=ON' \
        'BUILD_SHARED_LIBS=YES' \
        'ENABLE_STATIC=FALSE' \
        $* \
    )

    cmake . -B build -D$* &&
    GMake -C build
}

fn Meson {
    *=( \
       'strip=true' \
       'debug=false' \
       'optimization=s' \
       'prefix='$PREFIX \
       $* \
    )

    meson build -D$* &&
    DESTDIR=$destdir ninja -C build install
}

fn Scons {
    *=('prefix='$PREFIX 'DESTDIR='$destdir $*)
    scons -c &&
    scons $* install
}

fn Python {
    *=(--root $destdir --prefix $PREFIX)
    python3 setup.py install $*
}

fn Cargo {
    CARGO_HOME=./.cargo \
    cargo install \
        --path . \
        --root $destdir/usr
}

fn QMake{
    *=('INSTALL_ROOT='$destdir $*)
    qmake -makefile &&
    GMake $*
}

fn Headers{
    *=($destdir/$PREFIX/include)
    mkdir -p $* &&
    install -D include/* $*
}

fn _patch {
    builtin cd /usr/nullpkg/cache/sources/$1
    *=(/usr/nullpkg/patches/$1.diff)

    if(test -f $1)
        patch -p1 <$1

    true
}

fn _makepkg {
    # remove / from arg
    *=`{echo $1 | sed 's|/$||g'}

    >[2=] {
        strip -S $1/usr/lib64/*
        strip -s $1/usr/bin/* $1/bin/*
        gzip -n $1/usr/man/man?/*.? $1/usr/share/man/man?/*.?
        rm -r $1/usr/share/doc $1/usr/doc $1/usr/share/info
    }

    # remove pyc for reproducible builds
    >[2=] {
        du -ax $1 |
        grep '\.pyc$' |
        awk '{print "rm " $2}' |
        rc
    }

    tar -C $1 \
        --transform 's,^\./,/,' \
        --mtime @$SOURCE_DATE_EPOCH \
        --sort=name \
        -cf $1.tar .

    xz -f -T0 $1.tar
}

fn _install {
    if(! test -f $1)
        *=/usr/nullpkg/cache/$1.tar.xz

    tar -C / \
        --index-file /usr/nullpkg/index/`{basename $1 .tar.xz}.txt \
        -xvhf $1

    ldconfig
}

fn _git {
    git clone \
        -b $tag \
        --depth 1\
        --recurse-submodules \
        --shallow-submodules \
        $MAKEOPTS \
        $src $1

    # log checksum
    builtin cd $1
    _hash=`{git rev-parse HEAD}
    echo $_hash $1 >> /usr/nullpkg/log.txt
    builtin cd ..
}

fn _curl {
    curl --anyauth -LO $src

    # log checksum
    md5sum `{basename $src} >> /usr/nullpkg/log.txt

    tar -C $1 \
        --strip-components 1 \
        -xf `{basename $src}

    rm `{basename $src}
}

fn _query {
    destdir=/usr/nullpkg/cache/$1
    dirflags=( \
        'localstatedir=/var' \
        'sysconfdir=/etc' \
        'libdir='$LIBDIR \
        'disable-static' \
    )

    {tag=() src=() μ=() LIBS=() flags=()} &&
    eval `{cat $db | grep '^'$1=}
    if(~ $#src 0)
        echo 'Error: $src is not defined' && exit
}

fn snarf {
    builtin cd /usr/nullpkg/cache/sources

    _query $1

    >[2=] {
        rm -r $1
        mkdir $1
    }

    src=`{
        echo $src |
        sed '
            s|%t|'$1-$tag.tar.'|g;
            s|%s|'$1'|g;
            s|gnu:|https://mirrors.kernel.org/gnu/'$1'/|g;
            s|gpg:|https://gnupg.org/ftp/gcrypt/'$1'/|g;
            s|kernel:|https://git.kernel.org/pub/scm/|g;
            s|gh:|https://github.com/|g;
            s|gitlab:|https://gitlab.com/|g;
            s|freedesktop:|https://gitlab.freedesktop.org/|g;
            s|gpg:|https://gnupg.org/ftp/gcrypt/'$1'/|g;
            s|netfilter:|https://www.netfilter.org/pub/|g;
            s|qt:|https://invent.kde.org/qt/qt/|g;
            s|gnome:|https://gitlab.gnome.org/gnome/|g;
            s|xorg:|https://www.x.org/pub/individual/|g'

    }
    switch($src) {
        case *git*
            _git $1
        case *
            _curl $1
    }

    chown -R root:root $1

    _patch $1

    true
}

fn emerge {
    builtin cd /usr/nullpkg/cache/sources/$1

    _query $1 &&
    mkdir $destdir

    $(μ) $(flags) || exit

    _makepkg $destdir &&
    rm -r $destdir
}

fn purge {
    builtin cd /usr/nullpkg

    _query $1

    >[2=] {
        sort -r index/$1.txt | sed 's|^|rm -d ''|;s|$|''|g' | rc
        rm -r cache/sources/$1 index/$1.txt
    }

    true
}

fn _chroot {
    >[2=] {
        mkdir -p $1/dev $1/boot
        for(m in (dev boot sys proc)) {
            mkdir -p $1/$m
            mount -o ro --rbind /$m $1/$m
        }
    }

    PS1='(chroot)# ' { chroot --user=root $1 }
}

fn _timesync {
    >[2=] >[1=] {
        date +'%y-%m-%d %H:%M:%S' \
            -u -s `{
                nc time.nist.gov 13 |
                awk 'NR>1 {print $2 " " $3}'
            }
        hwclock --systohc
    }
}
