#!/usr/bin/env rc

. /usr/slackage/functions.rc

switch($1){
    case emerge
        shift
        for(p in $*)
            Purge $p && Snarf $p && Emerge $p
    case emerge!
        shift
        for(p in $*)
            Emerge $p
    case purge
        shift
        for(p in $*)
            Purge $p
    case snarf
        shift
        for(p in $*)
            Snarf $p
    case snarf!
        shift
        rm -rf /usr/slackage/packages
        mkdir -p /usr/slackage/packages

        packages=`{
            cat $db \
            | grep -v -e Installpkg -e '^#' \
            | awk '-F=' '{print $1}'
        }

        for(p in $packages){
            echo DOWNLOADING: $p
            Snarf $p
            wait
        }
    case install
        shift
        for(p in $*) {
            if(! test -f $p)
                p=/usr/slackage/zzz/$p-slackage.tar.gz
            if(! test -f $p)
                echo ERROR: NO TAR BINARY CACHE
                echo $p
            Install $p
        }
    case *
        echo 'USAGE: slackage emerge|purge|snarf|install foo'
}
