#!/bin/rc

. /usr/nullpkg/functions.rc

λ=$1 && shift

switch($λ) {
    case emerge purge snarf
        while(~ $#1 1)
            $(λ) $(1)
    case -S
        while(~ $#1 1)
            purge $1 &&
            snarf $1 &&
            emerge $1 &&
            __install /usr/nullpkg/cache/$1.tar.xz
    case -i
        __install $1
    case makepkg
        __makepkg $1
    case chroot
        __chroot $1
    case timesync
        __timesync
    case backup
        /usr/nullpkg/misc/backup.rc
    case -h *
        echo 'Usage: nullpkg [-S|-i|-h|emerge|purge|snarf] arg ...'
}
