#!/bin/rc

passdir=pass2
chrootdir=/mnt

LIB=( \
    acl alsa argon attr c-ares file \
    gdbm gmp gperf json libaio \
    libcap libexpat libffi libjpeg-turbo libnsl \
    libpng libpsl libsigsegv libtiff libtirpc \
    libunwind ncurses pcre2 pcre pkg-config \
    popt readline \
)


BASE=( \
    gcc \
    bash bc binutils bison \
    coreutils diffutils ed findutils \
    flex grep m4 make patch rc sed time \
    gawk \
    zlib bzip2 gzip tar unzip xz zstd \
    libressl curl git \
)

DEV=( \
    autoconf automake cmake gettext \
    help2man libtool ninja texinfo \
    python python-setuptools python-pip \
)

SYS=( \
    shadow \
    libeudev libfuse libusb glib libunistring \
    dbus e2fsprogs inetutils kmod less \
    lvm mandoc neovim openssh procps-ng \
    sudo sysvinit util-linux which \
    libmnl libnftnl iptables nettle gnutls connman \
    efivar efibootmgr \
    libestr libfastjson rsyslog \
)


mkdir -p /usr/nullpkg/cache/$passdir/^(lib base dev sys)

cd $chrootdir/usr/nullpkg/cache
mv $LIB^.tar.xz /usr/nullpkg/cache/$passdir/lib
mv $BASE^.tar.xz /usr/nullpkg/cache/$passdir/base
mv $DEV^.tar.xz /usr/nullpkg/cache/$passdir/dev
mv $SYS^.tar.xz /usr/nullpkg/cache/$passdir/sys
