#!/bin/rc

# manual stuff:
#  * extract the kernel headers
#  * build glibc against the kernel headers
#  * extract kernel headers and glibc into chroot
#  * bootstrap gawk (from onetrueawk) if using a fresh glibc

target=/mnt

cd /usr/nullpkg/cache/pass1

#################
# before chroot #
#################
# prepare the target
mkdir -p $target

# copy the static packages
for(f in (static/*.tar.xz))
    tar -C $target -xhf $f

# libs
for(f in (lib/*.tar.xz))
    tar -C $target -xhf $f

# base
for(f in (base/*.tar.xz))
    tar -C $target -xhf $f

# copy over current version of nullpkg
cp -r /usr/nullpkg $target/usr/nullpkg
cd $target/usr/nullpkg && rm cache && mkdir cache
cp -r sources.tar.xz $target/usr/nullpkg/cache/
